body {
	margin: 0;
	font-family: Arial, sans-serif;
	background: #f4f4f4;
	display: flex;
}

.sidebar {
	width: 200px;
	background: #22a561;
	color: white;
	padding: 25px;
	height: screen;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.active {
	font-weight: bold;
}

.sidebar h2 {
	margin-bottom: 20px;
}

.sidebar ul {
	list-style: none;
	padding: 0;
	padding-top: 10px;
}

.sidebar ul a {
	text-decoration: none;
	color: white;
}

.sidebar ul li {
	padding: 12px 0;
	cursor: pointer;
	width: 100%;
	transition: font-weight 0.3s ease;
	font-size: 16px;
}

.sidebar ul li:hover {
	font-weight: bold;
}

.main {
	flex: 1;
	padding: 20px;
	color: white;
}

.topbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #22a561;
}

.topbar input {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	gap: 20px;
	margin-top: 20px;
}

.card {
	padding: 20px;
	background: #22a561;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.chart {
	margin-top: 30px;
	background: #22a561;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.chart-box {
	height: 200px;
	background: #22a561;
	border-radius: 10px;
}

.tables {
	margin-top: 30px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 20px;
}

.table-box {
	background: #22a561;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table {
	width: 100%;
	border-collapse: collapse;
}

table th,
table td {
	padding: 10px;
	border-bottom: 1px solid #ddd;
	text-align: center;
}
