@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
	margin: 0;
	font-family: "Poppins", sans-serif;
	background: #f4f4f4;
	display: flex;
}

.sidebar {
	width: 200px;
	background: #22a561;
	color: white;
	padding: 25px;
	height: screen;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.active {
	font-weight: bold;
}

.sidebar h2 {
	margin-bottom: 20px;
}

.sidebar ul {
	list-style: none;
	padding: 0;
	padding-top: 10px;
}

.sidebar ul a {
	text-decoration: none;
	color: white;
}

.sidebar ul li {
	padding: 12px 0;
	cursor: pointer;
	width: 100%;
	transition: font-weight 0.3s ease;
	font-size: 16px;
}

.sidebar ul li:hover {
	font-weight: bold;
}

.main {
	flex: 1;
	padding: 20px;
	color: white;
	width: 100%;
}

.topbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #22a561;
}

.topbar input {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.search-bar {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	align-items: center;
}

.search-bar input {
	width: 100%;
	border-radius: 10px;
	padding: 15px 5px;
	border: 1px solid #22a561;
	background-color: #f4f4f4;
}

.search-bar button {
	padding: 15px 20px;
	border-radius: 10px;
	cursor: pointer;
	border: none;
	background-color: #22a561;
}

.product-table {
	margin-top: 30px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 20px;
}

.product-table-box {
	background: #22a561;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table th,
table td {
	padding: 10px;
	border-bottom: 1px solid #f4f4f4;
	text-align: center;
}

.action-btns {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.action-btns button {
	cursor: pointer;
	border: none;
	padding: 5px 20px;
	border-radius: 3px;
}

.btn-1 {
	background-color: #ffc106;
}

.btn-2 {
	background-color: #dc3545;
}

.add-product {
	width: 100px;
	padding: 15px 20px;
	display: flex;
}

.add-product button {
	color: white;
}

.bar {
	display: flex;
	gap: 5px;
	width: 100%;
}
