@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: white;
	padding: 10px 5%;
	font-size: 16px;
}

.nav-links {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 25px;
}

.nav-links a {
	color: black;
	text-decoration: none;
	padding: 8px 0;
}

.cart-section {
	display: flex;
	gap: 25px;
	list-style: none;
	text-decoration: none;
	align-items: center;
	justify-content: center;
	color: black;
}

#produktet {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.dropdown {
	position: relative;
}

.dropdown-menu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: #22a561;
	list-style: none;
	padding: 10px 0;
	min-width: 150px;
}

.dropdown-menu li a {
	display: block;
	padding: 8px 15px;
	color: white;
}

.dropdown:hover .dropdown-menu {
	display: block;
}
