* {
	margin: 0;
	padding: 0;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: white;
	padding: 10px 5%;
	font-size: 16px;
}

.nav-links {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 25px;
}

.nav-links a {
	color: black;
	text-decoration: none;
	padding: 8px 0;
}

.cart-section {
	display: flex;
	gap: 25px;
	list-style: none;
	text-decoration: none;
	align-items: center;
	justify-content: center;
	color: black;
}

#produktet {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.dropdown {
	position: relative;
}

.dropdown-menu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: #22a561;
	list-style: none;
	padding: 10px 0;
	min-width: 150px;
}

.dropdown-menu li a {
	display: block;
	padding: 8px 15px;
	color: white;
}

.dropdown:hover .dropdown-menu {
	display: block;
}
